* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

ul, li {
  list-style: none; }

a {
  text-decoration: none; }

#tab {
  width: 600px;
  border: 1px solid #000;
  margin: 100px auto; }
  #tab ul {
    width: 100%; }
    #tab ul::after {
      content: '';
      display: block;
      clear: both; }
    #tab ul li {
      width: calc(100% / 3);
      height: 40px;
      float: left; }
      #tab ul li a {
        display: block;
        width: 100%;
        height: 100%;
        font: bold 14px/40px 'arial';
        color: #aaa;
        background: #444;
        text-align: center; }
        #tab ul li a.on {
          background: #fff;
          color: #555; }
  #tab .group {
    width: 100%; }
    #tab .group > div {
      width: 100%;
      padding: 50px;
      display: none; }
      #tab .group > div#tab1 {
        display: block; }

#tab {
  width: 600px;
  border: 1px solid #000;
  margin: 100px auto;
  position: relative;
  padding-top: 40px; }
  #tab dt {
    width: calc(100% / 3);
    height: 40px;
    position: absolute;
    top: 0; }
    #tab dt:nth-of-type(1) {
      left: calc((100% / 3) * 0); }
    #tab dt:nth-of-type(2) {
      left: calc((100% / 3) * 1); }
    #tab dt:nth-of-type(3) {
      left: calc((100% / 3) * 2); }
    #tab dt a {
      display: block;
      width: 100%;
      height: 100%;
      background: #555;
      font: bold 14px/40px 'arial';
      color: #aaa;
      text-align: center; }
      #tab dt a.on {
        background: #fff;
        color: #444; }
  #tab dd {
    width: 100%;
    height: 200px;
    padding: 50px;
    display: none; }
    #tab dd#tab1 {
      display: block; }

#tabtab {
  width: 600px;
  border: 1px solid #000;
  position: relative;
  margin: 100px auto;
  padding-left: 200px;
  box-sizing: border-box; }
  #tabtab > dt {
    width: 200px;
    height: 50px;
    position: absolute;
    left: 0; }
    #tabtab > dt:nth-of-type(1) {
      bottom: calc(50px * 2);
      /* 100px*/ }
    #tabtab > dt:nth-of-type(2) {
      bottom: calc(50px * 1);
      /* 50px*/ }
    #tabtab > dt:nth-of-type(3) {
      bottom: calc(50px * 0);
      /* 0px*/ }
    #tabtab > dt a {
      display: block;
      width: 100%;
      height: 100%;
      background: #555;
      font: bold 14px/50px 'arial';
      color: #aaa;
      text-align: center; }
      #tabtab > dt a.on {
        background: #fff;
        color: #222; }
  #tabtab > dd {
    width: 100%;
    background: #fff;
    padding: 60px;
    box-sizing: border-box;
    display: none; }
    #tabtab > dd#tab1 {
      display: block;
      height: 300px; }
    #tabtab > dd#tab2 {
      height: 400px; }
    #tabtab > dd#tab3 {
      height: 350px; }
    #tabtab > dd a {
      font: bold 30px/1 'arial';
      color: blue; }

.wraps {
  width: 1200px;
  height: 360px;
  position: absolute;
  top: 50%;
  margin-top: -180px;
  left: 50%;
  margin-left: -600px; }
  .wraps h1 {
    position: absolute;
    left: 0;
    top: -100px; }
  .wraps .ft1 {
    position: absolute;
    bottom: -30px;
    left: -57px; }
  .wraps .ft2 {
    position: absolute;
    bottom: -30px;
    right: 0; }
  .wraps .tabs {
    width: 1200px;
    height: 360px;
    position: relative; }
    .wraps .tabs .left {
      width: 320px;
      height: 360px;
      background: #222;
      position: absolute;
      top: 0;
      left: 0;
      padding: 40px 30px;
      box-sizing: border-box; }
      .wraps .tabs .left h2 {
        font: bold 14px/1 'arial';
        color: #fff;
        margin-bottom: 40px; }
      .wraps .tabs .left .navi {
        width: 100%; }
        .wraps .tabs .left .navi li a {
          display: block;
          font: 12px/1 'Aldrich';
          color: #bbb;
          border-bottom: 1px solid #333;
          padding: 12px 8px;
          box-sizing: border-box; }
          .wraps .tabs .left .navi li a.on {
            color: orange;
            background: #000;
            padding: 12px 30px; }
    .wraps .tabs .box {
      width: 880px;
      height: 360px;
      position: absolute;
      top: 0;
      right: 0;
      display: none; }
      .wraps .tabs .box h2 {
        font: 80px/1 'Aldrich';
        color: #111;
        letter-spacing: 5px;
        position: absolute;
        left: 0;
        top: 100px;
        opacity: 0;
        transition: 1s; }
      .wraps .tabs .box h3 {
        font: bold 250px/1 'Verdana';
        color: #999;
        letter-spacing: -10px;
        position: absolute;
        right: -100px;
        bottom: -25px;
        opacity: 0;
        transition: 2.5s; }
      .wraps .tabs .box p {
        font: bold 16px/1.4 'arial';
        color: #aaa;
        letter-spacing: 2px;
        position: absolute;
        left: 0;
        top: 200px;
        opacity: 0;
        transition: 1.5s; }
      .wraps .tabs .box.on {
        display: block; }
        .wraps .tabs .box.on h2 {
          left: 100px;
          opacity: 1; }
        .wraps .tabs .box.on h3 {
          right: 0;
          opacity: 0.1; }
        .wraps .tabs .box.on p {
          left: 0;
          opacity: 1; }
      .wraps .tabs .box#tab11 {
        background: #f7fbd9; }
        .wraps .tabs .box#tab11 > img {
          position: absolute;
          right: -152px;
          bottom: -22px;
          transform: rotate(-70deg);
          opacity: 0; }
        .wraps .tabs .box#tab11.on > img {
          transform: rotate(0deg);
          opacity: 1; }
      .wraps .tabs .box#tab22 {
        background: #fbf6ca; }
        .wraps .tabs .box#tab22 > img {
          position: absolute;
          right: -152px;
          bottom: -22px; }
      .wraps .tabs .box#tab33 {
        background: #ffecf2; }
        .wraps .tabs .box#tab33 > img {
          position: absolute;
          right: -152px;
          bottom: -22px; }
      .wraps .tabs .box#tab44 {
        background: #ecf9ff; }
        .wraps .tabs .box#tab44 > img {
          position: absolute;
          right: -152px;
          bottom: -22px; }

#wrap1 {
  width: 800px;
  height: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -200px;
  margin-left: -400px; }
  #wrap1 .top {
    width: 0%;
    height: 1px;
    background: #000;
    position: absolute;
    top: 0;
    left: 0; }
  #wrap1 .right {
    width: 1px;
    height: 0%;
    background: #000;
    position: absolute;
    top: 0;
    right: 0; }
  #wrap1 .bottom {
    width: 0%;
    height: 1px;
    background: #000;
    position: absolute;
    right: 0;
    bottom: 0; }
  #wrap1 .left {
    width: 1px;
    height: 0%;
    background: #000;
    position: absolute;
    bottom: 0;
    left: 0; }
  #wrap1 .content {
    width: 100%;
    height: 100%;
    background: #111;
    position: absolute;
    top: 0;
    left: 0;
    display: none; }
    #wrap1 .content .close {
      font: bold 14px/1 'arial';
      color: #fff;
      position: absolute;
      top: 30px;
      right: 0;
      opacity: 1; }

.btn1 {
  display: block;
  width: 380px;
  height: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  background: #000;
  margin-left: -400px;
  margin-top: 210px;
  border: none;
  font: bold 12px/40px 'arial';
  text-align: center;
  color: #fff; }

.btn2 {
  display: block;
  width: 380px;
  height: 40px;
  position: absolute;
  top: 50%;
  right: 50%;
  background: #000;
  margin-right: -400px;
  margin-top: 210px;
  border: none;
  font: bold 12px/40px 'arial';
  text-align: center;
  color: #fff; }

#wrap2 {
  width: 100%;
  height: 400px;
  position: absolute;
  top: 50%;
  left: 0%;
  margin-top: 0px;
  background: #111; }
  #wrap2 .close {
    font: bold 14px/1 'arial';
    color: #fff;
    position: absolute;
    top: 30px;
    right: 0;
    opacity: 1; }

/*# sourceMappingURL=style.css.map */
