@charset 'utf-8';

@import 'reset';
@import 'tab';
@import 'tab2';



#wrap1{
    width: 800px;
    height: 400px;
    position: absolute;
    top: 50%; left: 50%;
    margin-top: -200px;
    margin-left: -400px;

    .top{
        width: 0%; height: 1px;
        background: #000; position: absolute;
        top: 0; left: 0;
    }

    .right{
        width: 1px; height: 0%;
        background: #000;
        position: absolute; top: 0; right: 0;
    }
    .bottom{
        width: 0%; height: 1px;
        background: #000; position: absolute;
        right: 0; bottom: 0;
    }
    .left{
        width: 1px; height: 0%;
        background: #000;
        position: absolute; bottom: 0; left: 0;
    }

    .content{
        width: 100%; height: 100%;
        background: #111; position: absolute;
        top: 0; left: 0;
        display: none;

        .close{
            font: bold 14px/1 'arial';
            color: #fff;
            position: absolute; top: 30px; right: 0;
            opacity: 1;
        }
    }
}
.btn1{
    display: block;
    width: 380px;
    height: 40px;
    position: absolute;
    top: 50%; left: 50%;
    background: #000;
    margin-left: -400px;
    margin-top: 210px;
    border: none;
    font: bold 12px/40px 'arial';
    text-align: center;
    color: #fff;
}
.btn2{
    display: block;
    width: 380px;
    height: 40px;
    position: absolute;
    top: 50%; right: 50%;
    background: #000;
    margin-right: -400px;
    margin-top: 210px;
    border: none;
    font: bold 12px/40px 'arial';
    text-align: center;
    color: #fff;
}

#wrap2{
    width: 100%;
    height: 400px;
    position: absolute;
    top: 50%; left: 0%;
    margin-top: 0px;
    background: #111;

    .close{
        font: bold 14px/1 'arial';
        color: #fff;
        position: absolute; top: 30px; right: 0;
        opacity: 1;
    }
}